# Backend
# ---------------------------------
backend/venv/
backend/__pycache__/
backend/instance/
backend/*.sqlite3
backend/*.db
.env
.flaskenv
*.env

# Frontend 
# ---------------------------------
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env

# General
# ---------------------------------
.vscode/
.idea/
.DS_Store